@import "./shared";

.contact-upper-container {
  @include upper-container
}

.contact-main-container {
  @include main-container;
}

.contact-left-column {
  @include mobile {
    width: 100%;
    padding: 40px 0 20px 0;
  }

  width: 66%;
  padding-right: 15px;
  box-sizing: border-box;
}

.contact-right-column {
  @include mobile {
    padding: 0 0 90px 0;
  }

  padding-left: 15px;
  box-sizing: border-box;
  flex: 1;
}

.contact-image {
  max-width: 100%;
  border-radius: 10px;
}

.contact-container {
  @include mobile {
    padding: 25px;
  }

  background-color: $color-trimary-light-blue-high-opacity;
  border-radius: 10px;
  width: 100%;
  padding: 42px;
  box-sizing: border-box;
  text-align: center;
}

.contact-info {
  @include poppins-400;

  font-size: 14px;
}

.contact-mail {
  color: $color-primary-light-blue;
  text-decoration: none;
}

.contact-separation-line {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  width: 100%;
  background-color: $color-primary-black;
  opacity: 0.12;
}

.contact-lower-info {
  @include poppins-600;

  color: $color-trimary-grey;
  font-size: 14px;
  line-height: 26px;
}

.social-container {
  @include flex-align-centered-column;
  @include poppins-400;

  font-size: 14px;
  margin-bottom: 35px;
}

.social-icon {
  font-size: 40px;
  color: $color-primary-light-blue;
}

.social-link {
  margin-bottom: 35px;
}
