@import "header.scss";
@import "main-page.scss";
@import "about-me.scss";
@import "contact.scss";
@import "novels.scss";

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

button {
  outline: none;
  padding: 0;
  background: none;
  border: 0;
}

p {
  margin: 0;
}
