<div class="main-page-books-container">
    <div class="main-page-book-container">
      {% if obrazek_pierwsza_ksiazka %}
      <a class="main-page-novel-link" style="background-image: url('/images/{{ obrazek_pierwsza_ksiazka }}')" href="/powiesci/">
        <div class="main-page-absolute-shadow"></div>
        {% if text_pierwsza_ksiazka %}
          <div class="main-page-book-text">
            {{ text_pierwsza_ksiazka | safe }}
          </div>
        {% endif %}
        {% if ukryty_tekst %}
          <div class="main-page-book-hidden-text">
            {{ ukryty_tekst | safe }}
          </div>
        {% endif %}
      </a>
      {% endif %}
    </div>
    <div class="main-page-book-container">
      {% if obrazek_druga_ksiazka %}
      <a class="main-page-novel-link" style="background-image: url('/images/{{ obrazek_druga_ksiazka }}')" href="/serie-powiesciowe/">
        <div class="main-page-absolute-shadow"></div>
        {% if text_druga_ksiazka %}
          <div class="main-page-book-text">
            {{ text_druga_ksiazka | safe }}
          </div>
        {% endif %}
        {% if ukryty_tekst %}
          <div class="main-page-book-hidden-text">
            {{ ukryty_tekst | safe }}
          </div>
        {% endif %}
      </a>
      {% endif %}
    </div>
    <div class="main-page-book-container">
      {% if obrazek_trzecia_ksiazka %}
      <a class="main-page-novel-link" style="background-image: url('/images/{{ obrazek_trzecia_ksiazka }}')" href="/dla-dzieci/">
        <div class="main-page-absolute-shadow"></div>
        {% if text_trzecia_ksiazka %}
          <div class="main-page-book-text">
            {{ text_trzecia_ksiazka | safe }}
          </div>
        {% endif %}
        {% if ukryty_tekst %}
          <div class="main-page-book-hidden-text">
            {{ ukryty_tekst }}
          </div>
        {% endif %}
      </a>
      {% endif %}
    </div>
  </div>
