<div class="book-container">
  {% if obrazek and strona_obrazka == "lewa" %}
  <div class="book-image-container">
    <a class="book-link">
      <img class="book-image" src="/images/novels/{{ obrazek }}"></img>
    </a>
  </div>
  {% endif %}
  <div class="book-text-container">
    {% if tytul %}
    <div class="book-title"> {{ tytul }} </div>
    {% endif %}
    <div class="book-underline"> </div>
    {% if opis %}
    <div class="book-description"> {{ opis | safe }} </div>
    {% endif %}
  </div>
  {% if obrazek and strona_obrazka == "prawa" %}
  <div class="book-image-container">
    <a class="book-link">
      <img class="book-image" src="/images/novels/{{ obrazek }}"></img>
    </a>
  </div>
  {% endif %}
</div>
