{% extends "base.html" %}

{% block title %} {{ page.title }} {% endblock title %}
{% block footer %} {{ page.extra.footer_text }} {% endblock footer %}

{% block content %}
  <div class="about-me-upper-container">
      {{ page.extra.glowny_text }}
  </div>
  <div class="content-wrapper">
    <div class="content-container">
      <div class="about-me-main-container">
        <div class="about-me-left-column">
          <div class="about-me-description">{{ page.extra.opis_alfabetu }}</div>
          <div class="about-me-underline"></div>
          {{ page.content | safe }}
        </div>
        <div class="about-me-right-column">
          <img class="about-me-introduction-image" src="/images/{{ page.extra.o_mnie_obrazek }}"></img>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
