{% extends "base.html" %}

{% block title %} {{ page.title }} {% endblock title %}
{% block footer %} {{ page.extra.footer_text }} {% endblock footer %}

{% block content %}
  <div class="contact-upper-container">
    {{ page.extra.glowny_text }}
  </div>
  <div class="content-wrapper">
    <div class="content-container">
      <div class="contact-main-container">
        <div class="contact-left-column">
          <div class="contact-container">
            <div class="contact-info">
              {{ page.extra.kontakt_info | safe }}
              <a class="contact-mail" href="mailto:{{ page.extra.kontakt_mail }}" target=”_blank”>
                {{ page.extra.kontakt_mail }}
              </a>
            </div>
            <div class="contact-separation-line"></div>
              {{ page.content | safe }}
            <div class="contact-separation-line"></div>
            <div class="contact-lower-info">
              {{ page.extra.informacja_przestrzegajaca | safe }}
            </div>
          </div>
        </div>
        <div class="contact-right-column">
          <img class="contact-image" src="/images/{{ page.extra.obrazek_kontakt }}"></img>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
