$header-height: 120px;
$shrinked-header-height: 80px;
$header-logo-height: 85px;
$shrinked-header-logo-height: 55px;
$footer-height: 116px;
$header-text-underline-height: 2px;
$books-dropdown-width: 240px;
$upper-container-height: 225px;
$upper-container-main-page-height: 720px;
