@mixin mobile {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1250px) and (min-width: 1001px) {
    @content;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-centered {
  display: flex;
  align-items: center;
}

@mixin flex-justify-centered {
  display: flex;
  justify-content: center;
}

@mixin flex-centered {
  @include flex-align-centered;

  justify-content: center;
}

@mixin flex-align-centered-column {
  @include flex-column;

  align-items: center;
}

@mixin flex-justify-centered-column {
  @include flex-column;

  justify-content: center;
}

@mixin flex-centered-column {
  @include flex-align-centered-column;

  justify-content: center;
}

@mixin poppins-400 {
  font-family: Poppins;
  font-weight: 400;
}

@mixin poppins-600 {
  font-family: Poppins;
  font-weight: 600;
}

@mixin open-sans-300 {
  font-family: 'Open Sans';
  font-weight: 300;
}

@mixin open-sans-400 {
  font-family: 'Open Sans';
  font-weight: 400;
}

@mixin open-sans-600 {
  font-family: 'Open Sans';
  font-weight: 600;
}

@mixin sanchez-400 {
  font-family: Sanchez;
  font-weight: 400;
}

@mixin sanchez-600 {
  font-family: Sanchez;
  font-weight: 600;
}

@mixin montserrat-500 {
  font-family: Montserrat;
  font-weight: 500;
}

@mixin upper-container {
  @include sanchez-600;
  @include flex-justify-centered;

  @include mobile {
    height: 110px;
    align-items: flex-start;
    padding: 36px 0px 0px 0px;
    font-size: 32px;
    line-height: 38px;
  }

  background-color: $color-secondary-light-blue;
  height: $upper-container-height;
  font-size: 50px;
  line-height: 59px;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 40px;
}

@mixin main-container {
  @include mobile {
    padding: 0;
    flex-direction: column;
  }

  padding: 102px 112px 112px 112px;
  box-sizing: border-box;
  display: flex;
}
